<launch>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="cloud_in" to="/zed2/point_cloud/cloud_registered"/>
      <!-- <remap from="/different_topic" to="/needed_topic"/> -->
      <!-- When you do <remap from="x" to="y"/> you ask a node to change 
      its input topic x to a topic y so when you had your 
      issue you were asking the node to change an unknown input 
      topic which is why it didn't worked. 
      (So I think my other solution would have worked too) -->
      <remap from="scan" to="/camera/scan" />
      <rosparam>
        target_frame: base_link
        transform_tolerance: 0.01
        min_height: 0.0
        max_height: 1.0
        
        angle_min: -1.5708
        angle_max: 1.5708
        angle_increment: 0.0087
        scan_time: 0.3333
        range_min: 0.45
        range_max: 4.0
        use_inf: false
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 1
      </rosparam>
    </node>
</launch>